* {
    text-align: center;
}

header {
    background-color: aquamarine;
    color: white;
    position: fixed;
    height: 30 px;
    width: 100%;
    border-bottom: 5px solid navy;
}

.header-links {
    display: inline-block;
    float: right;
    margin: 10px;
}
